<h2 mat-dialog-title>Formulario usuario</h2>
<div class="flex_container">
    <form (ngSubmit)='save()'>
        <div class="grid_container">
            <mat-form-field class="item_grid rol">
                <mat-label>Pick a rol</mat-label>
                <mat-select [(value)]='user.ROL'>
                    <mat-option *ngFor="let rol of roles" [value]="rol.ROL">
                        {{rol.ROL}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <div class="item_grid flex_container cargo" *ngIf="user.ROL != 'admin'; else admin">
                <mat-form-field class="item_flex">
                    <mat-label>Pick a position</mat-label>
                    <mat-select [(value)]='detalle.CARGO'>
                        <mat-option *ngFor="let cargo of cargos" [value]="cargo.CARGO">
                            {{cargo.CARGO}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="item_flex detalle" *ngIf="detalle.CARGO == 'Estudiante'; else nonstudent">
                    <mat-form-field>
                        <textarea matInput placeholder="Type student identifier" [(ngModel)]='user.CARNET' name="carnet"></textarea>
                    </mat-form-field>
                </div>
                <ng-template class="item_flex detalle" #nonstudent>
                    <mat-form-field>
                        <input matInput placeholder="Type employee identifier" [(ngModel)]='user.NO_REGISTRO' name="no_registro">
                    </mat-form-field>
                </ng-template>

                <mat-form-field class="item_flex">
                    <mat-label>Pick a facultad</mat-label>
                    <mat-select [(value)]='detalle.FACULTAD' (selectionChange)='changeFacultad()'>
                        <mat-option *ngFor="let facultad of facultades" [value]="facultad.NOMBRE">
                            {{facultad.NOMBRE}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="item_flex">
                    <mat-label>Pick a carreer</mat-label>
                    <mat-select [(value)]='detalle.CARRERA'>
                        <mat-option *ngFor="let carrera of carreras" [value]="carrera.NOMBRE">
                            {{carrera.NOMBRE}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-template class="item_grid cargo" #admin>
            </ng-template>
            
            <mat-form-field class="item_grid username" class="login_item">
                <input matInput placeholder="Type user name" required [(ngModel)]='user.NOMBRE' [(ngModel)]='detalle.NOMBRE' name="nombre">
            </mat-form-field>
            
            <mat-form-field class="item_grid password" class="example-full-width">
                <input matInput type="password" placeholder="Type your password" required [(ngModel)]='user.CLAVE' name="clave">
            </mat-form-field>
            
            <mat-form-field class="item_grid mail" class="example-full-width">
                <input matInput placeholder="Email" required [(ngModel)]='user.CORREO' name="correo">
            </mat-form-field>
            
            <mat-form-field class="item_grid phone" class="example-full-width">
                <input type="tel" matInput placeholder="Telephone" [(ngModel)]='user.TELEFONO' name="telefono">
            </mat-form-field>

            <div class="image">
                <input type="file" name="url_photo" id="url_photo" [(ngModel)]='user.URL_FOTO'>
                <img class="profile_image" [src]="user.URL_PHOTO == null ? '../../../../assets/profile_image.jpg' : res.URL_FOTO" alt="profile_photo">
            </div>

            <button class="item_grid button" mat-flat-button color="accent">Aceptar</button>
        </div>
    </form>
</div>