<div class="toggle_menu" (click)='toggle()'>
    <i class="material-icons main_menu_button">menu</i>
</div>
<div class="menu_container">
    <ul [class]=classMenu>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {admin: ['user']}}]" 
                routerLinkActive='active' 
                (click)='toggle()'>
                Usuario
                <span class="tooltip">Gestión de usuarios</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {admin: ['facultad']}}]" 
                routerLinkActive='active' 
                (click)='toggle()'>
                Facultad
                <span class="tooltip">Gestión de facultades</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {admin: ['carrera']}}]" 
                routerLinkActive='active' 
                (click)='toggle()'>
                Carrera
                <span class="tooltip">Gestión de carreras</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {admin: ['cargo']}}]" 
                routerLinkActive='active' 
                (click)='toggle()'>
                Cargo
                <span class="tooltip">Gestión de cargos</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {admin: ['ciencia']}}]" 
                routerLinkActive='active' 
                (click)='toggle()'>
                Ciencia
                <span class="tooltip">Gestión de ciencias</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link" 
                routerLinkActive='active' 
                (click)='toggle()'> 
                Reportes
                <span class="tooltip">Visor de reportes</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"
                (click)='signOut()'> 
                Sign out
                <span class="tooltip">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</div>
<!-- <script>
    let btn_toggle_menu = document.querySelectorAll('.toggle_menu')[0];

    btn_toggle_menu.addEventListener('click', () => {
        let menu = document.querySelectorAll('.menu')[0];
        menu.classList.toggle('hide_menu');
    });
</script> -->
<router-outlet class="admin" name='admin'></router-outlet>