.toggle_menu {
    width: 32pt;
    height: 32pt;
    border-radius: 50%;
    background: #1e1e1e;
    color: #ffffff;
    position: fixed;
    top: 48pt;
    right: 32pt;
    z-index: 10;
}

.main_menu_button {
    cursor: pointer;
    margin: 0.5rem;
}

.menu_container {
    position: fixed;
    top: 80pt;
    right: 1rem;
    width: 90pt;
    z-index: 5;
}

.menu {
    width: 100%;
    height: 190pt;
    border-radius: 1.5rem;
    background: #1e1e1e;
    transition: .5s height ease-in-out;
    padding-left: .3rem;
    padding-top: 1.5rem;
    overflow: hidden;
}

.menu_item {
    list-style: none;
    margin: .5rem;
}

.menu_link {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-bottom: .5rem;
}

.menu .menu_link .tooltip {
    line-height: 2;
    text-align: center;
    border-radius: .5rem;
    box-shadow: inset -1px -1px 2px #1e1e1e;
    position: absolute;
    min-width: 100pt;
    right: 100pt;
    z-index: 20;
    color: #1e1e1e;
    background: #ffffff;
    display: none;
}

.menu .menu_link:hover .tooltip {
    display: block;
}

.active {
    border-bottom: 2px solid #ffffff;
}

.hide_menu {
    height: 0;
    padding-top: 0;
}

@media screen and (max-width: 426px) {
    .admin::after {
        content: 'Do not has view for mobile';
        font-size: xx-large;
        font-family: Montserrat;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 4;
        background: linear-gradient(
            to left top,
            steelblue,
            #ffffff
        );
    }
}
