
@media screen and (max-width: 426px) {
    .admin::after {
        content: 'Do not has view for mobile';
        font-size: xx-large;
        font-family: Montserrat;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 4;
        background: linear-gradient(
            to left top,
            steelblue,
            #ffffff
        );
    }
}
