<div class="toggle_menu" (click)='toggle()'>
    <i class="material-icons main_menu_button">menu</i>
</div>
<div class="menu_container">
    <ul [class]=classMenu>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {user: ['perfil']}}]" 
                
                routerLinkActive='active' 
                (click)='toggle()'>
                Perfil
                <span class="tooltip">Perfil de usuario</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {user: ['historia']}}]" 
                
                routerLinkActive='active' 
                (click)='toggle()'>
                Historia
                <span class="tooltip">Mis posts</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {user: ['tema']}}]" 
                
                routerLinkActive='active' 
                (click)='toggle()'>
                Temas
                <span class="tooltip">Todos los posts</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {user: ['examen']}}]" 
                
                routerLinkActive='active' 
                (click)='toggle()'>
                Examen
                <span class="tooltip">Crear un examen</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"  
                [routerLink]="[{outlets: {user: ['sala']}}]" 
                
                routerLinkActive='active' 
                (click)='toggle()'>
                Sala
                <span class="tooltip">Ir a sala</span>
            </a>
        </li>
        <li class="menu_item">
            <a
                class="menu_link"
                (click)='signOut()'> 
                Sign out
                <span class="tooltip">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</div>
<router-outlet class="user" name='user'></router-outlet>
