<div class="login_container">
  <h2>{{title}}</h2>
  <form class="login_form" (ngSubmit)="login()">
    <mat-form-field class="login_item">
      <input matInput [(ngModel)]="name" type="text" name="name" placeholder="Username" required>
    </mat-form-field>
    <mat-form-field class="login_item">
      <input matInput [(ngModel)]="pass" type="password" name="pass" placeholder="Password" required>
    </mat-form-field>
    <button mat-flat-button color="accent">Sign in</button>
  </form>
</div>

<!-- <router-outlet></router-outlet> -->