<h2 mat-dialog-title>Formulario carrera</h2>
<form (ngSubmit)='save()'>
    <div class="flex_container">
        <mat-form-field class="item_flex">
            <mat-label>Pick a facultad</mat-label>
            <mat-select [(value)]='carrera.COD_FACULTAD'>
                <mat-option *ngFor="let facultad of facultades" [value]="facultad.COD_FACULTAD">
                    {{facultad.NOMBRE}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="item_flex">
            <input matInput placeholder="Type name" required [(ngModel)]='carrera.NOMBRE' name='name'>
        </mat-form-field>
        <mat-form-field class="item_flex">
            <textarea matInput placeholder="Type description" required [(ngModel)]='carrera.DESCRIPCION' name='description'></textarea>
        </mat-form-field>
        <button class="item_flex button" mat-flat-button color='accent'>Aceptar</button>
    </div>
</form>