<div class="item">
    <div class="header">
        <img class="profile_image" src="../../../../assets/profile_image.jpg" alt="profile_image">
        <h3>Name: user name</h3>
        <p>Rol: user rol</p>
    </div>
    <div class="container">
        <p>Carnet: no carnet</p>
        <p>No registro: no register</p>
        <p>Facultad: facultad</p>
        <p>Carrera: carrera</p>
        <p>Correo: user mail</p>
        <p>Telefono: phone number</p>
    </div>
    <div class="footer">
        <button mat-button color="accent">Edit</button>
        <button mat-button color="warn">Delete</button>
    </div>
</div>