.profile_image {
    width: 120pt;
    height: 120pt;
}

.grid_container {
    grid-auto-columns: repeat(1, 1fr);
    grid-gap: 16pt;
}

.item {
    width: 200pt;
}

.item .header {
    padding: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10pt 10pt 0 0;
}

.item .container {
    padding: 20pt;
    line-height: 2;
}

.item .footer {
    display: flex;
    justify-content: flex-end;
}